{% extends 'kpw/base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="cover-heading">{% trans 'Search engine' %}</h1>

    <div class="lead">
        <form method="get" action="{% url 'search' %}">
            <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="{% trans 'Search for' %}..." {% if query %}value="{{ query }}"{% endif %}/>
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="{% trans 'Search' %}" />
                </span>
            </div>
        </form>
    </div>
    {% if query_object %}
        <div class="lead">
            {% for synset in query_object %}
                <div>
                    <form method="post" action="{% url 'redirect' %}" target="_blank">
                        {% csrf_token %}
                        <input type="hidden" name="uri" value="{{ synset.uri }}" />
                        <input type="hidden" name="query" value="{{ query }}" />
                        <button type="submit" class="btn btn-link">{{ synset.title }}</button>
                        {% for key_word in synset.key_words %}
                            <p>{{ key_word }}</p>
                        {% endfor %}
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}